<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<h2><%= @project.title %></h2>
		<p>
			<%= link_to '', edit_project_path(@project), :class => "glyphicon glyphicon-pencil pull-left", :id => "tools" %> | 
			<small><%= link_to 'Back', projects_path %></small>
			</p>	
	</div>
    <div class="col-xs-12 col-sm-9">
    	<p><%= @project.pitch %></p>
    </div>
</div>