@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
body {
	
	margin-bottom: 50px;
	background: url(wood-desktop-background.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


#error_explanation{
	color: red;
	font-weight: bolder;
}
#error_explanation h2{
	font-size: 20px;
}

#tools{
	margin-right: 20px;
}
a{
	font-size: 18px;
	color: white;
}
.container {
	background-color: #000000;
	opacity: 0.9;
	color: white;
	padding-bottom: 10px;
}

.sign{
	text-align: center;
}